$dark-colors: (
  primary: #0085ff,
  error: #e06c75,
  warn: #f4ea2a,
  success: #4caf50,
  main-bg-1: #181d1e,
  main-bg-2: #111516,
  main-bg-3: #101010,
  active-color: #f2f2f2,
  describe: #999999,
  no-active-color: #777777,

  /** 特殊 */
  edit-bar-active: #f2f2f2,
  console-bar-color: #f2f2f2,
  preview-bar-color: #f2f2f2,
  badge-color: #f2f2f2,
  badge-border: #181d1e,
);

$bright-colors: (
  primary: #0085ff,
  error: #e06c75,
  warn: #f4ea2a,
  success: #4caf50,
  main-bg-1: #f0f2f3,
  main-bg-2: #f2f2f2,
  main-bg-3: #ffffff,
  active-color: #0085ff,
  describe: #b0b0b0,
  no-active-color: #bfbfbf,

  /** 特殊 */
  edit-bar-active: #0085ff,
  console-bar-color: #101010,
  preview-bar-color: #101010,
  badge-color: #f2f2f2,
  badge-border: #f0f2f3,
);

$def-font: JetBrains Mono;
$code-font: JetBrains Mono;