@charset "UTF-8";

$dark-colors: (
  primary0: #7C1FFF,
  primary1: #9246FF,
  primary2: #AC70FF,
  red0: #B71C1C,
  red1: #C62828,
  red2: #E53935,
  amber0: #FF6F00,
  amber1: #FF8F00,
  amber2: #FFB300,
  green0: #558B2F,
  green1: #689F38,
  green2: #7CB342,
  main-bg-1: #1B1B1B,
  main-bg-2: #151515,
  main-bg-3: #121212,
  active-color: rgb(255 255 255 / 87%),
  describe: rgb(255 255 255 / 60%),
  no-active-color: rgb(255 255 255 / 40%),
  shadow: #000,
  disabled-bgc: rgb(255 255 255 / 8%),
  disabled-color: rgb(255 255 255 / 38%),
  golden: #ffca28,
  /** 特殊 */
  edit-bar-active: #f2f2f2,
  console-bar-color: #f2f2f2,
  preview-bar-color: #f2f2f2,
  badge-color: #f2f2f2,
  badge-border: #181d1e,
  tooltip-color: #f2f2f2,
  mask-bgc: rgb(16 16 16 / 50%),
  modal-def-border: #181d1e,
  popover-bg: #2A2730,
  form-item: #2A2730,
);
$bright-colors: (
  primary: #9246FF,
  primary-active: #40a9ff,
  error: #e06c75,
  error-active: #ff7875,
  warn: #f4ea2a,
  warn-active: #ffc53d,
  success: #4caf50,
  success-active: #73d13d,
  main-bg-1: #f0f2f3,
  main-bg-2: #f2f2f2,
  main-bg-3: #fff,
  active-color: #0085ff,
  describe: #b0b0b0,
  no-active-color: #bfbfbf,
  shadow: #000,
  disabled-bgc: #f5f5f5,
  disabled-color: #00000040,
  golden: #ffca28,
  /** 特殊 */
  edit-bar-active: #0085ff,
  console-bar-color: #101010,
  preview-bar-color: #101010,
  badge-color: #f2f2f2,
  badge-border: #f0f2f3,
  tooltip-color: #101010,
  mask-bgc: rgb(16 16 16 / 50%),
  modal-def-border: #181d1e,
);
$def-font: "WenQuanYi Micro Hei","PingFang SC","Helvetica Neue","Hiragino Sans GB","Microsoft YaHei",simsun,sans-serif;
$code-font: "JetBrains Mono";