.console-number {
  color: var(--color-console-number);
}
.console-boolean {
  color: var(--color-console-boolean);
}
.console-null {
  color: var(--color-console-null);
} 
.console-string {
  color: var(--color-console-string);
}
.console-bigint {
  color: var(--color-console-number);
}
.console-undefined {
  color: var(--color-console-undefined);
}
.console-regexp {
  color: var(--color-console-regexp);
}